<header class="header">
	<div class="header__container">
		<h1 class="header__title">{{@blog.title}}</h1>
		<h2 class="header__subtitle">{{@blog.description}}</h2>
		<div class="header__burger">
			<input id="burger" class="header__burger-checkbox" type="checkbox">
			<label for="burger"></label>
		</div>       
		<div class="header__arrows-box">
			<div class="header__arrow header__arrow--first"></div>
			<div class="header__arrow header__arrow--second"></div>
		</div>	
	</div>
</header>