<header class="header header--post">
	<div class="header__container">
		<h1 class="header__title">{{@blog.title}}</h1>
		<h2 class="header__subtitle">{{@blog.description}}</h2>
		<div class="header__burger">
			<input id="burger" class="header__burger-checkbox" type="checkbox">
			<label for="burger"></label>
		</div>       	
	</div>
</header>