<nav class="navigation">
    <div class="navigation__container navigation__container--footer">
        <ul class="navigation__list">
            <li class="navigation__item">
                <a href="{{@blog.url}}" class="navigation__link navigation__link--footer">Home</a>
            </li>
            <li class="navigation__item">
                <a href="{{@blog.url}}/about" class="navigation__link navigation__link--footer">About me</a>
            </li>
            <li class="navigation__item">
                <a href="#contacts" class="navigation__link navigation__link--footer">Contacts</a>
            </li>
        </ul>
    </div>
</nav>