{{!< default}}

{{!-- Header --}}
{{> "header-post"}}

{{!-- Navigation --}}
{{> "navigation-header"}}


{{#post}}
<section class="about">
	<div class="about__container">
		<h1 class="about__title">{{title}}</h1>
		<div class="about__content-box">
			<div class="about__img-box">
				<img src="{{feature_image}}" alt="">
			</div>
			<div class="about__text-box">
				{{content}}
			</div>
		</div>
	</div>
</section>
{{/post}}
